<div class="container">
    <div class="section-heading">
        <h6 i18n>Кейси</h6>
        <h2 i18n>Створення сайтів</h2>
    </div>
    <div class="row gy-4">
        <div class="col-lg-3 col-sm-6">
            <div class="blog-post">
                <div class="blog-post-img">
                    <a class="px_modal" data-bs-toggle="modal" 
                    data-bs-target="#blog_1">
                        <img src="assets/img/skif.png" title="image_blog" alt="image_blog">
                    </a>
                </div>
                <div class="blog-post-info">
                    <h6><a href="https://skif.kh.ua/" target="_blank">https://skif.kh.ua/</a></h6>
                    <h2 i18n><a class="px_modal" data-bs-toggle="modal" 
                        data-bs-target="#blog_1">Магазин на Опенкарт</a></h2>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="blog-post">
                <div class="blog-post-img">
                    <a class="px_modal" data-bs-toggle="modal" 
                    data-bs-target="#blog_2">
                        <img src="assets/img/zima.png" title="image_blog" alt="image_blog">
                    </a>
                </div>
                <div class="blog-post-info">
                    <h6><a href="https://zima-renovations.co.uk/" target="_blank">https://zima-renovations.co.uk/</a></h6>
                    <h2 i18n><a class="px_modal" data-bs-toggle="modal" 
                        data-bs-target="#blog_2">Лендінг на Вордресс</a></h2>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="blog-post">
                <div class="blog-post-img">
                    <a class="px_modal" data-bs-toggle="modal" 
                    data-bs-target="#blog_3">
                        <img src="assets/img/bt.png" title="image_blog" alt="image_blog">
                    </a>
                </div>
                <div class="blog-post-info">
                    <h6><a href="https://bubbletea.kiev.ua/" target="_blank">https://bubbletea.kiev.ua/</a></h6>
                    <h2 i18n><a class="px_modal" data-bs-toggle="modal" 
                        data-bs-target="#blog_3">Магазин на Хорошоп</a></h2>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="blog-post">
                <div class="blog-post-img">
                    <a class="px_modal" data-bs-toggle="modal" 
                    data-bs-target="#blog_4">
                        <img src="assets/img/smart.png" title="image_blog" alt="image_blog">
                    </a>
                </div>
                <div class="blog-post-info">
                    <h6><a href="https://smartcnc.in.ua/" target="_blank">https://smartcnc.in.ua/</a></h6>
                    <h2 i18n><a class="px_modal" data-bs-toggle="modal" 
                        data-bs-target="#blog_4">Магазин на Опенкарт</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>