<div class="container">
    <div class="section-heading text-center text-lg-start">
        <h6 i18n>Раді знайомству!</h6>
        <h2 i18n>Попрацюємо?</h2>
    </div>
    <div class="row gy-4">
        <div class="col-lg-5">
            <div class="about-left">
                <div class="about-avatar">
                    <img src="assets/img/site_lab_logo.jpg" title="logo" alt="logo">
                </div>
                <h3 i18n>sitelab.com.ua</h3>
                <p i18n>Реклама •<b> Маркетинг • </b> Створення сайтів</p>
            </div>
        </div>
        <div class="col-lg-7 ps-xl-5">
            <div class="about-bio">
                <p i18n>Агенція створена у 2018 року. Ми розробляємо сайти: лендінги, магазини, корпоративні сайти. 
                   Розробка та налаштування реклами у Facebook та Google: Merchant Center (торгова реклама), Performance Max, Пошукова реклама.</p>
            </div>
            <div class="about-contact row gx-lg-5">
                <div class="col-sm-6">
                    <p><i class="bi-phone"></i> <span><a href="tel:+380502450565" style="color: white;" target="_blank" rel="noopener noreferrer nofollow">+380502450565</a></span> </p>
                </div>
                <div class="col-sm-6">
                    <p><i class="bi bi-telegram"></i> <span><a href="https://t.me/sitelab_com_ua" style="color: white;" target="_blank" rel="noopener noreferrer nofollow">&#64;sitelab_com_ua</a></span> </p>
                </div>
                <div class="col-sm-6">
                    <p><i class="bi-envelope"></i> <span><a href="mailto:mailsitelab&#64;gmail.com" style="color: white;" target="_blank" rel="noopener noreferrer nofollow">mailsitelab&#64;gmail.com</a></span> </p>
                </div>
                <div class="col-sm-6">
                    <p i18n><i class="bi-map"></i> <span>Харків, Україна</span> </p>
                </div>
            </div>
            <div class="about-exp">
                <div class="row gy-4">
                    <div class="col-md-6">
                        <div class="a-number">
                            <h6>7+</h6>
                            <span i18n>Років<br>досвіду...</span>
                        </div>
                        <p i18n class="lead">Залучаємо клієнтів і збільшуємо продажі. Наш досвід і знання дають змогу створювати результативні стратегії просування, які працюють на вас.
                            </p>
                    </div>
                    <div class="col-md-6">
                        <div class="a-number">
                            <h6>150+</h6>
                            <span i18n>Клієнтів<br>в усьому світі...</span>
                        </div>
                        <p i18n class="lead">Понад 150 клієнтів по всьому світу довіряють нам свій бізнес. Ми створюємо рекламу, що приносить результат.</p>
                    </div>
                </div>
                <blockquote>
                    <i class="fa-solid fa-quote-left"></i>
                    <p i18n>“Не важливо, наскільки красива реклама - важливо, наскільки вона працює.”</p>
                </blockquote>
            </div>
        </div>
    </div>
</div>