<div class="container">
    <div class="row gy-5">
        <div class="col-lg-5">
            <div class="section-heading">
                
                <h2 i18n>Студія sitelab.com.ua</h2>
                <p i18n>Ми – рекламне агентство, яке допоможе вашому бізнесу зростати онлайн! Індивідуальний підхід, 
                    креативні рішення та орієнтація на результат – це те, що робить нас вашим надійним партнером у світі цифрового маркетингу.</p>
                <div class="btn-bar">
                    <a class="px-btn dark" href="#contact" i18n>
                     Зв'язатися з нами <i class="bi-arrow-up-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-7 ps-xl-5">
            <ul class="resume-box">
                <li>
                    <div class="r-meta">
                        <span i18n>Від 1000 гривень</span>
                        <label i18n>Wordpress/Opencart</label>
                    </div>
                    <h5 i18n>Створення сайтів</h5>
                </li>
                <li>
                    <div class="r-meta">
                        <span i18n>Від 1000 гривень</span>
                        <label i18n>Facebook ADS</label>
                    </div>
                    <h5 i18n>Реклама у Facebook</h5>
                </li>
                <li>
                    <div class="r-meta">
                        <span i18n>Від 1000 гривень</span>
                        <label i18n>Google ADS</label>
                    </div>
                    <h5 i18n>Реклама у Google</h5>
                </li>
            </ul>
        </div>
    </div>
</div>
