<div class="container">
    <div class="row  min-vh-100 align-items-center">
        <div class="col-lg-7 col-xl-7 col-xxl-6">
            <div class="hb-text">
                <h1 i18n>Реклама<br><b>Маркетинг</b> <span><br> Створення сайтів</span></h1>
                <p i18n class="lead"><span>Студія sitelab.com.ua</span></p>
                <div class="btn-bar">
                    <a class="px-btn"  href="#contact" i18n>
                       Зв'язатися з нами <i class="bi-arrow-up-right"></i>
                    </a>
                </div>
                <div class="info-bar">
                    <p><i class="bi-phone"></i> <span><a href="tel:+380502450565" style="color: white;" target="_blank" rel="noopener noreferrer nofollow">+380502450565</a></span></p>
                    <p><i class="bi-envelope"></i> <span><a href="mailto:mailsitelab&#64;gmail.com" style="color: white;" target="_blank" rel="noopener noreferrer nofollow">mailsitelab&#64;gmail.com</a></span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hb-me" style="background-image: url(assets/img/home-banner.png);"></div>
<div class="social-fix">
    <div class="social-links">
        <a href="javascript:void(0)" onclick="window.open('https://www.instagram.com/leon_denisss/', '_blank')"><i class="fab fa-instagram"></i></a>
        <a href="javascript:void(0)" onclick="window.open('https://www.facebook.com/profile.php?id=61573732252303')"><i class="fab fa-facebook"></i></a>
    </div>
</div>